* {
	margin: 0;
	padding: 0;
	outline: none;
}
html, body {
	height: 100%;
	min-height: 100%;
	position:relative;
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 14px;
}
html {
	/*background-color: #658299;*/
	background-color: #111;
	background-repeat: no-repeat;
}
#petri {
	display:block;
	margin:0px;
}

#control {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #000000;
	color: #F6F6F6;
	padding: 16px;
	margin: 16px auto;
	border-radius: 4px;
	width: 320px;
	text-align: center;
}

#control > * {
	margin: 4px;
}

.button {
	background-color: #f6f6f6;
	border: 1px solid #DDDDDD;

	color: #444444;
	font-weight: bold;
	text-align: center;

	border-radius: 2px;

	padding: 4px 8px;
	margin: 4px;
}

#chbg {
	margin-top : 0.64em;
}
